body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #ffa500;
  color: white;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #ffe4b5;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #ffa500;
}

main {
  padding: 20px;
}

h2 {
  margin-top: 0;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
  width: 50%;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;

}

input,
textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 1em;
}

textarea {
  height: 150px;
}

button {
  position: relative;
  display: inline-block;
  padding: 12px 22px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff6f61;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.3s ease;
}

button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  z-index: -1;
}

button:hover {
  background-color: #fff;
  color: #ff6f61;
}

.button:hover::before {
  width: 500px;
  height: 500px;
}